        .warna1{
            background-color: #876445;
        }
        .warna2{
        background-color: #CA965C;
        }
        .warna3{
        background-color: #EEC373;
        }
        .warna4{
            background-color: #F4DFBA;
        }
        .banner{
            height: 80vh;
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
            url('image/background_kopi.jpg');
        }

        .higt-ligt{
            height: 200px;

        }

        .kategori-kopisatu{
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
            url('image/kopi1.jpeg');
            background-size: cover;
            background-position: center;
        }
        .kategori-kopidua{
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
            url('image/kopi2.jpg');
            background-size: cover;
            background-position: center;
        }
        .kategori-kopitiga{
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
            url('image/kopi3.jpg');
            background-size: cover;
            background-position: center;
        }
      .no-decoration{
        text-decoration: none;
        color: white;
      }

      .no-decoration:hover{
        color: #EEC373;
      }
      .text-harga{
        font-size: 20px;
        color: #CA965C;
      }